/*-------------- Reset --------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  margin:0;
  padding:0;
  border:0 none;
  font:inherit;
  vertical-align:baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
  display:block;
}

ol, ul{
  list-style: none;
  margin:0;
  padding:0;
  clear:both;
}

blockquote, q{
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after{
  content:'';
  content:none;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

img {
  max-width:100%;
  vertical-align:bottom;
  border:0;
} 

figure{margin:0;}

p{margin:0 0 1em 0; line-height:1.5em;}

input, 
textarea, 
select, 
button, 
input:focus, 
textarea:focus, 
select:focus, 
button:focus{outline:0 none;}

a:link {
  background:transparent;
  text-decoration:underline;
  color:#46a6f8;
}

a:hover{text-decoration:none;}

a:active,
a:hover,
a:focus,
a:visited {
  outline:0 none;
}

b, strong{font-weight:bold;}

textarea{resize:none;}

/*------------- Helpers -------------*/

.clearfix, 
.clearfix:after{
  content:" ";
  visibility:hidden;
  display:block;
  height:0;
  clear:both;
}

.f-left{float:left;}

.f-right{float:right;}

.oh{overflow:hidden;}

.w-half{width:50%;}

.a-center{text-align:center;}

.btn-wrap{
  position:relative;
  overflow:hidden;
  clear:both;
  text-align:center;
}

.white-btn{
  margin:0;
  padding:0 50px;
  display:inline-block;
  line-height:50px;
  background-color:transparent;
  text-transform:uppercase;
  border:1px solid #333;
  border-radius:5px;
  color:#333;
  font-size:18px;
  cursor:pointer;
}

/*------------ Main styles ------------*/

html * {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

html{height:100%;}

body{
  font-size:100%;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  line-height:100%;
  min-height:100%;
  background-color:#fff;
  color:#848e8f;
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
}

#wrapper{
  -webkit-box-shadow:0 0 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow:0 0 6px rgba(0, 0, 0, 0.5);
  margin:0 auto;
  max-width:1920px;
  min-width:1200px;
  overflow:hidden;
  clear:both;
}

#content{
  position:relative;
  overflow:hidden;
  clear:both;
}

.section{
  position:relative;
  overflow:hidden;
  clear:both;
}

.section-inn{
  display:table;
  position:relative;
  width:1200px;
  margin:0 auto;
}

.section-dark{background-color:#3d3e33;}

.section-l-dark{background-color:#313131;}

.section-d-dark{background-color:#2c2c2c;}

.main-title{
  display:block;
  clear:both;
  text-align:center;
  text-transform:uppercase;
  color:#333;
  margin:0;
  padding:0;
  font-size:18px;
  line-height:18px;
  font-weight:bold;
}

/*------------- Header --------------*/

header[role="banner"]{
  position:relative;
  overflow:hidden;
  clear:both;
}

header[role="banner"] .section-dark{padding:25px 0;}

.top-logo{
  display:block;
  text-indent:-9999px;
  width:189px;
  height:52px;
  cursor:pointer;
  background:transparent url('../img/axiom.png') no-repeat 0 0;
  margin:0 auto;
}

.top-slogan-wrap{background:transparent url('../img/top-bird.jpg') no-repeat 50% 0;}

.top-slogan-wrap > .section-inn{
  height:396px;
  padding-top:125px;
}

.top-slogan-title{
  font-weight:200;
  display:block;
  clear:both;
  padding:0;
  margin:0 0 10px 0;
  text-align:center;
  color:#fff;
  font-size:60px;
  line-height:62px;
}

.top-slogan-title span{font-weight:400;}

.top-slogan-subtitle{
  font-weight:200;
  display:block;
  clear:both;
  padding:0;
  margin:0;
  text-align:center;
  color:#fff;
  font-size:44px;
  line-height:46px;
}

.top-menu{
  position:absolute;
  left:0;
  bottom:60px;
  width:100%;
}

.top-menu .section-inn{
  padding:0 80px;
  white-space:nowrap;
}

.top-menu .section-inn > a{
  display:inline-block;
  text-decoration:none;
  color:#fff;
  border-radius:5px;
  padding:18px 55px;
  border:1px solid transparent;
  text-transform:uppercase;
  font-size:18px;
  line-height:18px;
  -webkit-transition:border-color .4s ease-in-out;
  -moz-transition:border-color .4s ease-in-out;
  transition:border-color .4s ease-in-out;
}

.top-menu .section-inn > a:hover, 
.top-menu .section-inn > a.active{border-color:#fff;}

.top-menu.fixed{
  position:fixed;
  z-index:3;
  left:0;
  top:0;
  width:100%;
  padding:25px 0;
  background:rgba(0,0,0,.7);
  overflow:hidden;
  height:100px;
}

.contact-info{
  position:absolute;
  top:15px;
  right:0;
}

.contact-info p{
  text-align:right;
  color:#fff;
  margin:0;
  font-size:20px;
  line-height:30px;
  font-weight:200;
}

.contact-info p b{
  font-size:25px;
  line-height:30px;
  font-weight:normal;
}

/*------------ About Us -------------*/

#about-us .section-inn{padding-top:60px;}

ul.list-of-skills{
  overflow:hidden;
  padding:75px 0 50px 0;
}

ul.list-of-skills li{
  float:left;
  width:25%;
  text-align:center;
  padding-top:130px;
}

ul.list-of-skills li strong{
  display:block;
  clear:both;
  margin-bottom:26px;
  text-transform:uppercase;
  color:#333;
  font-size:18px;
  line-height:18px;
  font-weight:normal;
}

ul.list-of-skills li p{
  margin:0 35px;
  color:#616161;
  font-size:18px;
  line-height:25px;
}

ul.list-of-skills li.item-1{
  background:transparent url('../img/skill-1.jpg') no-repeat 50% 0;
  -webkit-animation-delay:.3s;
  animation-delay:.3s;
}

ul.list-of-skills li.item-2{
  background:transparent url('../img/skill-2.jpg') no-repeat 50% 0;
  -webkit-animation-delay:.6s;
  animation-delay:.6s;
}

ul.list-of-skills li.item-3{
  background:transparent url('../img/skill-3.jpg') no-repeat 50% 0;
  -webkit-animation-delay:.9s;
  animation-delay:.9s;
}

ul.list-of-skills li.item-4{
  background:transparent url('../img/skill-4.jpg') no-repeat 50% 0;
  -webkit-animation-delay:1.2s;
  animation-delay:1.2s;
}

p.select-poly{
  margin:0;
  display:block;
  text-align:center;
  color:#666;
  font-weight:200;
  font-size:18px;
  line-height:50px;
}

.current ul.list-of-skills li{
  -webkit-animation-duration: 1s; 
  animation-duration: 1s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
  -webkit-animation-timing-function: ease-in-out; 
  animation-timing-function: ease-in-out; 
  -webkit-animation-name: fadeInLeft; 
  animation-name: fadeInLeft; 
} 

@-webkit-keyframes fadeInLeft { 
  0% { 
    opacity: 0; 
    -webkit-transform: translateX(-20px); 
  } 
  100% { 
    opacity: 1; 
    -webkit-transform: translateX(0); 
  } 
} 

@keyframes fadeInLeft { 
  0% { 
    opacity: 0; 
    transform: translateX(-20px); 
  } 
  100% { 
    opacity: 1; 
    transform: translateX(0); 
  } 
} 

/*-------------- Value --------------*/

#value .section-inn{padding:75px 0 25px 0;}

.value-skills-wrap{
  position:relative;
  display:table;
  width:100%;
  padding:95px 0 40px 0;
}

.value-skills-wrap > ul{
  width:300px;
  clear:none;
}

.value-skills-wrap > ul li{
  border-top:1px solid #cbcec5;
  padding:50px 0;
  color:#666;
  font-size:20px;
  line-height:40px;
  font-weight:bold;
}

.value-skills-wrap > ul li:first-child{border:none;}

.value-skills-wrap > ul.f-right li{text-align:right;}

.value-skills-image{
  overflow:hidden;
  position:relative;
  height:468px;
  width:469px;
  margin:0 auto;
}

.value-skills-image .item-1{
  position:absolute;
  width:195px;
  height:207px;
  right:34px;
  top:0;
  background:transparent url('../img/value-1.png') no-repeat 0 0;
  -webkit-animation-delay:.3s;
  animation-delay:.3s;
}

.value-skills-image .item-2{
  position:absolute;
  width:193px;
  height:224px;
  right:0;
  top:122px;
  background:transparent url('../img/value-2.png') no-repeat 0 0;
  -webkit-animation-delay:.6s;
  animation-delay:.6s;
}

.value-skills-image .item-3{
  position:absolute;
  width:195px;
  height:207px;
  right:34px;
  bottom:0;
  background:transparent url('../img/value-3.png') no-repeat 0 0;
  -webkit-animation-delay:.9s;
  animation-delay:.9s;
}

.value-skills-image .item-4{
  position:absolute;
  width:195px;
  height:207px;
  left:34px;
  top:0;
  background:transparent url('../img/value-6.png') no-repeat 0 0;
  -webkit-animation-delay:1.8s;
  animation-delay:1.8s;
}

.value-skills-image .item-5{
  position:absolute;
  width:193px;
  height:224px;
  left:0;
  top:122px;
  background:transparent url('../img/value-5.png') no-repeat 0 0;
  -webkit-animation-delay:1.5s;
  animation-delay:1.5s;
}

.value-skills-image .item-6{
  position:absolute;
  width:195px;
  height:207px;
  left:34px;
  bottom:0;
  background:transparent url('../img/value-4.png') no-repeat 0 0;
  -webkit-animation-delay:1.2s;
  animation-delay:1.2s;
}

.current .value-skills-image .item{
  -webkit-animation-duration: 1s; 
  animation-duration: 1s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
  -webkit-animation-timing-function: ease-in-out; 
  animation-timing-function: ease-in-out; 
  -webkit-animation-name: bounceIn; 
  animation-name: bounceIn; 
} 

@-webkit-keyframes bounceIn { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
    } 

    100% { 
         -webkit-transform: scale(1); 
    } 
} 

@keyframes bounceIn { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
        transform: scale(.9); 
    } 

    100% { 
        transform: scale(1); 
    } 
} 

.value-description{margin-bottom:65px;}

.value-description p{
  margin:0 0 10px 0;
  color:#333;
  font-size:20px;
  line-height:25px;
}

/*--------------- Bird --------------*/

.section-bird{
  background:transparent url('../img/bird-main.jpg') no-repeat 50% 0;
  height:684px;
}

.magazine-block{
  background:transparent url('../img/magazine-bg.png') no-repeat 0 -4px;
  width:967px;
  height:719px;
  position:relative;
  margin-left:168px;
  -webkit-animation-duration: 1.5s; 
  animation-duration: 1.5s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
  -webkit-animation-timing-function: ease-in-out; 
  animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 

@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
}

.current .magazine-block{ 
  -webkit-animation-name: fadeIn; 
  animation-name: fadeIn; 
  -webkit-animation-delay:.5s;
  animation-delay:.5s;
}

.magazine-text{
  position:absolute;
  right:0;
  top:0;
  padding-top:480px;
}

.magazine-text p{
  color:#fff;
  text-transform:uppercase;
  font-size:35px;
  line-height:45px;
  font-weight:200;
  letter-spacing:.25px;
  margin:0;
  text-align:right;
}

.magazine-block p strong{font-weight:400;}

/*------------- Produce -------------*/

#produce .section-inn{padding:60px 0 25px 0;}

.list-of-products-wrap{
  position:relative;
  overflow:hidden;
  clear:both;
  padding:70px 0 45px 45px;
}

.list-of-products-wrap .item{
  position:relative;
  float:left;
  width:270px;
  height:220px;
  cursor:pointer;
  margin:0 0 10px 10px;
  -webkit-animation-duration: 1s; 
  animation-duration: 1s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
  -webkit-animation-timing-function: ease-in-out; 
  animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.current .list-of-products-wrap .item{ 
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
}

.list-of-products-wrap .item:first-child{margin-left:0;}

.list-of-products-wrap .item-1{
  background:transparent url('../img/product-1.jpg') no-repeat 0 0;
  -webkit-animation-delay:.3s;
  animation-delay:.3s;
}

.list-of-products-wrap .item-2{
  background:transparent url('../img/product-2.jpg') no-repeat 0 0;
  -webkit-animation-delay:.6s;
  animation-delay:.6s;
}

.list-of-products-wrap .item-3{
  background:transparent url('../img/product-3.jpg') no-repeat 0 0;
  -webkit-animation-delay:.9s;
  animation-delay:.9s;
}

.list-of-products-wrap .item-4{
  background:transparent url('../img/product-4.jpg') no-repeat 0 0;
  -webkit-animation-delay:1.2s;
  animation-delay:1.2s;
}

.list-of-products-wrap .item-5{
  background:transparent url('../img/product-4.jpg') no-repeat 0 0;
  -webkit-animation-delay:1.5s;
  animation-delay:1.5s;
  margin-left:280px;
}

.list-of-products-wrap .item-6{
  background:transparent url('../img/product-1.jpg') no-repeat 0 0;
  -webkit-animation-delay:1.8s;
  animation-delay:1.8s;
}

.list-of-products-wrap .item .product-title{
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  line-height:220px;
  text-align:center;
  background:rgba(13,101,143,.9);
  opacity:0;
  -webkit-transition:opacity 1s ease-in-out;
  -moz-transition:opacity 1s ease-in-out;
  transition:opacity 1s ease-in-out;
}

.list-of-products-wrap .item:hover .product-title{opacity:1;}

.list-of-products-wrap .item .product-title span{
  color:#fff;
  text-transform:uppercase;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  font-size:20px;
  line-height:20px;
  padding:8px 0;
  font-weight:200;
}

.products-description-wrap{
  position:relative;
  display:table;
  width:100%;
  clear:both;
}

.products-description-wrap .item{
  position:relative;
  overflow:hidden;
  clear:both;
  padding:30px 0;
  margin-top:-45px;
  display:none;
}

.products-description-wrap .item p{
  margin:0;
  color:#333;
  font-size:18px;
  line-height:24px;
  letter-spacing:.25px;
}

.products-description-wrap .item .close{
  display:block;
  width:28px;
  height:15px;
  background:transparent url('../img/close.png') no-repeat 0 0;
  cursor:pointer;
  position:absolute;
  right:10px;
  bottom:0;
  text-indent:-9999px;
}

/*-------------- Order --------------*/

#order .section-inn{padding:60px 0;}

.form-info{
  position:relative;
  overflow:hidden;
  clear:both;
  padding:55px 0 0 35px;
}

.form-info p{
  color:#333;
  font-size:20px;
  line-height:25px;
  margin-bottom:20px;
}

#main-form-wrap{
  position:relative;
  overflow:hidden;
  clear:both;
  width:366px;
  margin:0 auto;
}

#main-form-wrap form{
  margin:0;
  display:block;
  position:relative;
}

#main-form-wrap form .form-item{
  position:relative;
  display:table;
  width:100%;
  padding-bottom:10px;
}

#main-form-wrap form .form-item input, 
#main-form-wrap form .form-item textarea{
  color:#000;
  font:200 12px/20px 'Roboto', sans-serif;
  border:1px solid #c8c1bd;
  position:relative;
  margin:0;
  padding:5px 25px;
  width:100%;
  background:#fff url('../img/arrow.png') no-repeat 9px 10px;
  -webkit-transition:border-color .6s ease-in-out;
  -moz-transition:border-color .6s ease-in-out;
  transition:border-color .6s ease-in-out;
}

#main-form-wrap form .form-item textarea{height:155px;}

#main-form-wrap form .form-item input.error, 
#main-form-wrap form .form-item textarea.error{border-color:#96050a;}

#main-form-wrap form .form-item input.valid, 
#main-form-wrap form .form-item textarea.valid{border-color:#205511;}

#main-form-wrap .btn-wrap{padding-top:10px;}

#main-form-wrap .white-btn{
  display:block;
  width:100%;
  border-radius:0;
  font-size:20px;
  color:#000;
  padding:0;
  text-align:center;
  border-color:#9e9189;
}

/*-------------- Shares -------------*/

#shares{
  background:transparent url('../img/shares-bg.jpg') no-repeat 50% 0;
  height:550px;
}

#shares .section-inn{padding:50px 0 0 0;}

#shares .main-title{color:#fff;}

.order-block{
  position:relative;
  overflow:hidden;
  clear:both;
  padding:85px 0 75px 0;
}

.order-block p{
  color:#fff;
  margin:0;
  font-size:45px;
  line-height:45px;
}

.order-block p sup, 
.order-block p sub{
  font-size:20px;
  line-height:25px;
  position:relative;
}

.order-block p sup{top:-20px;}

p.order-info{
  color:#fff;
  font-size:20px;
  line-height:25px;
  margin-bottom:75px;
}

#shares .white-btn{
  color:#fff;
  border-color:#fff;
}

#shares .select-poly{color:#fff;}

/*------------- Footer --------------*/

footer[role="contentinfo"]{
  position:relative;
  overflow:hidden;
  clear:both;
}

footer[role="contentinfo"] .section-d-dark{padding:35px 0;}

footer[role="contentinfo"] .section-l-dark{padding:60px 0 50px 0;}

.contacts-title{
  display:block;
  clear:both;
  margin-bottom:45px;
  text-align:center;
  color:#e0e0e0;
  font-weight:normal;
  font-size:30px;
  line-height:30px;
  letter-spacing:1px;
}

p.contacts-subtitle{
  color:#fff;
  margin:0;
  display:block;
  text-align:center;
  font-size:20px;
  line-height:24px;
  letter-spacing:1px;
  text-transform:lowercase;
}

.contacts-items-wrap{
  position:relative;
  overflow:hidden;
  clear:both;
  text-align:center;
  padding-top:50px;
}

.contacts-items-wrap .contacts-item{
  display:inline-block;
  color:#bebebe;
  font-size:15px;
  line-height:17px;
  letter-spacing:1px;
  padding-left:35px;
  margin-left:30px;
}

.contacts-items-wrap .contacts-item:first-child{margin-left:0;}

.contacts-item.address{background:transparent url('../img/point.png') no-repeat 0 50%;}

.contacts-item.phone{background:transparent url('../img/phone.png') no-repeat 0 50%;}

p.copyright{
  margin:0;
  text-align:center;
  color:#bebebe;
  font-size:12px;
  line-height:12px;
}

/*-------------- Popup --------------*/

#popup-form{
  position:fixed;
  z-index:5;
  top:125px;
  left:50%;
  margin-left:-225px;
  background-color:#fff;
  width:450px;
  display:none;
  box-shadow:0 5px 10px rgba(0,0,0,.7);
  -webkit-animation-duration: 1s; 
  animation-duration: 1s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
  -webkit-animation-timing-function: ease-in-out; 
  animation-timing-function: ease-in-out; 
}

#popup-form.visible{
  display:block;
  -webkit-animation-name: bounceInDown; 
  animation-name: bounceInDown;
} 

@-webkit-keyframes bounceInDown { 
   0% { 
       opacity: 0; 
        -webkit-transform: translateY(-2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(30px); 
    } 
    80% { 
        -webkit-transform: translateY(-10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(30px); 
    } 
    80% { 
        transform: translateY(-10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
}

.popup-form-wrap{
  position:relative;
  overflow:hidden;
  clear:both;
  width:355px;
  margin:0 auto;
  padding:120px 0 25px 0;
  background:#fff url('../img/logo-popup.png') no-repeat 50% 35px;
}

.popup-form-wrap form{
  margin:0;
  display:block;
  position:relative;
}

.popup-form-wrap form .form-item{
  position:relative;
  display:table;
  width:100%;
  padding-bottom:10px;
}

.popup-form-wrap form .form-item input, 
.popup-form-wrap form .form-item textarea{
  color:#000;
  font:200 12px/20px 'Roboto', sans-serif;
  border:1px solid #c8c1bd;
  position:relative;
  margin:0;
  padding:5px 25px;
  width:100%;
  background:#fff url('../img/arrow.png') no-repeat 9px 10px;
  -webkit-transition:border-color .6s ease-in-out;
  -moz-transition:border-color .6s ease-in-out;
  transition:border-color .6s ease-in-out;
}

.popup-form-wrap form .form-item textarea{height:155px;}

.popup-form-wrap form .form-item input.error, 
.popup-form-wrap form .form-item textarea.error{border-color:#96050a;}

.popup-form-wrap form .form-item input.valid, 
.popup-form-wrap form .form-item textarea.valid{border-color:#205511;}

.popup-form-wrap .btn-wrap{padding-top:10px;}

.popup-form-wrap .white-btn{
  display:block;
  width:100%;
  border-radius:0;
  font-size:20px;
  color:#000;
  padding:0;
  text-align:center;
  border-color:#9e9189;
}

.popup-info{
  position:relative;
  overflow:hidden;
  clear:both;
  padding-top:10px;
  display:none;
}

.popup-info p{
  margin:0;
  color:#333;
  font-weight:200;
  font-size:15px;
  line-height:25px;
  letter-spacing:.25px;
  text-align:center;
}